body{
    font-family: "Open Sans", sans-serif;
    padding: 50px 0px;
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    margin:0px;
}
#today-img{
    width:80%;
    text-align: center;
}
#today-temperature{
    font-size: 100px;
    font-weight: 700;
    text-align: right;
}
#today-hari{
    text-align: right;
}
#today-date{
    text-align: right;
}
.hidden{
    display:none;
}
.list-group-item{
    border:none;
}
.card{
    border:none;
    padding: 26px 24px;
    border-radius: 16px;
    background: var(--Background-Default, #FFF);
}
.list-group-item:hover{
    cursor: pointer;
}
.n3xt-celcius{
    font-weight: black;
}
.next-img{
    width:50px;
    height:50px;
}
.modal-img{
    width:200px;
    height:200px;
}
.glass{
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 50px 25px;
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    border-radius: 8px;
}
.glass-no-shadow{
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 50px 25px;
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.05);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.05);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
}
.modal-backdrop { opacity: 0.2 !important; background-color: white;}
#hourly{
    max-width: 100%;
    overflow-x: auto;
}